body {
  font-family: Arial;
  background: #0b1120;
  color: white;
  text-align: center;
}

select, button {
  padding: 10px;
  margin: 10px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}
